dataset:
  n_articles: null  # parsed as None
  split: [0.9, 0.1]

training:
  from_checkpoint: null
  output_dir: 'checkpoints'
  evaluation_strategy: 'epoch'    # 'no', 'steps', 'epoch'
  learning_rate: 0.000005
  per_device_train_batch_size: 4
  per_device_eval_batch_size: 4
  num_train_epochs: 10
  fp16: True

agent:
  max_summary_length: 300
